<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="username">
  </div>

  <div class="form-group">
    <label for="favouriteValue">What is your fav value ?</label>
    <select class="form-control" id="favourietValue">
      <option *ngFor="let item of valuesFromHome" value={{item.id}}>({{item.id}})-{{item.name}}</option>
    </select>
  </div>

  <div class="form-group">
      <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="password">
  </div>

  <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-default" type="submit" (click)="cancel()">Cancel</button>
  </div>

</form>